body{
    font-family: Arial, Helvetica, sans-serif;
}

.PageContent{
    font-size: 22px;
}

md-block{
    text-align: left;
    font-size: 24px;
}

h1{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

label{
    font-size: 19px;
}

a{
    font-size: 18px;
}