{% load static %}
{% load markdownify %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'encyclopedia/EntryPage.css' %}">
        <title>{{ EntryTitle }}</title>
    </head>
    <body>
        <h1>{{ EntryTitle }}</h1>
       
            
        <div class="PageContent">
            {{ pageContent | markdownify }}
        </div>
            
        
        
        <label>You Can Also Visit: </label>
        <ul>
            <li style="margin-bottom: 5px;"><a href="{% url 'EntryEdit' EntryTitle %}">Edit Page</a></li>
            
            <li><a href="{% url 'index' %}">Go Home</a></li>
        </ul>    
    </body>
</html>